
<div class="main home">
    <div class="jumbotron">
        <div class="container">
            <div class="row row-centered">
                <div class="tagline col-sm-9 col-centered">
                    <h2>Hello. My name is <span class="highlight">Joshua Campbell.</span> I have creative ideas and build websites.</h2>
                    <%= link_to "View my Work", portfolio_path, class: "btn right"%>
                </div>
            </div>
        </div>
    </div>
</div>