/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

/* Navigation Bar */
.navbar-inverse .navbar-toggle {
    border-color: #269abc;
}

li.active {
    border-color: #269abc;
}

.wht-bg {
    color: #ffffff;
}

.blue-bg {
    color: #269abc;
}

.menu-hamburger-size {
    font-size: 20px;
}

.content {
    padding-top: 50px;
}

/* Footer Menu */
.social_media {
    float: right;
    height: 75px;
    position: relative;
}

.social_media ul {
    float: right;
    height: 75px;
    position: relative;
}

.social_media li {
    display: inline-block;
    margin: 0 1px;
    position: absolute;
    bottom: 0;
}

.social_media li:first-child {
    right: 50px;
}

.social_media li:last-child {
    left: 3px;
}

.social_media a, .social_media a:visited, .social_media a:active {
    color: #000000;
}

.social_media a:hover {
    color: #269abc;
}

.footer p {
    float:right;
    clear: right;
}